body{
  background: #0d1521;
  font-family: tahoma;
  color: #989898;
}
.header {
	height: 30px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #0d1521;
}
.menu {
	height: 30px;
	background: #0d1521;
}
.button_reg {
	width: 50%;
	height: 50%;
	overflow: auto;
	margin: auto;
	position: absolute;
	background: #23282e;
	border: 0;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	font-size: 20px;
	top: 0; left: 0; bottom: 0; right: 0;
}
.button_reg:hover {
	background: linear-gradient(to top,  #0d1521, #0d1521);
}
.button_ureg{
	width: 160px;
	left: 50px;
	height: 30px;
	bottom: 200px;
	border: 0;
	box-sizing: border-box;
	color: #23282e;
	cursor: pointer;
	font-size: 20px;
}
.button_greg{
	width: 160px;
	left: 50px;
	height: 30px;
	bottom: 200px;
	border: 0;
	box-sizing: border-box;
	color: #23282e;
	cursor: pointer;
	font-size: 20px;
}
.menu span{
	width: 160px;
	left: 50px;
	height: 30px;
	bottom: 200px;
	border: 0;
	box-sizing: border-box;
	background-color: #99ff99;
	cursor: pointer;
	font-size: 20px;
}