body{
  background: #0d1521;
  font-family: tahoma;
  color: #989898;
}
.header {
	height: 30px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #0d1521;
}
.button_reg {
	width: 300px;
	height: 50px;
	right: 50px;
	top: 35px;
	position: fixed;
	background: #23282e;
	border: 0;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	font-size: 20px;
}
.button_reg:hover {
	background: linear-gradient(to top,  #0d1521, #0d1521);
}
.container {
	position: center;
	width: 120vh;
	height: 70vh;
	overflow-y: auto;
	background: #0d1521;
	margin: 5vh auto 0 auto;
}
.container button{
	position:center;
	width: 160px;
	height: 30px;
	background: #23282e;
	border-radius: 30px;
	-webkit-transition: background 1s ease-out 0.5s;
     -moz-transition: background 1s ease-out 0.5s;
     -o-transition: background 1s ease-out 0.5s;
     transition: background 1s ease-out 0.5s;
}
.content{
	width: 100vh;
	height: 40vh;
}
.pole textarea{
	position: center;
	resize: none;
	background:#23282e;
	width: 100vh;
	top: 0.15rem;
}
.menu {
	height: 30px;
	background: #0d1521;
}
.menu > ul{
	display: flex;
	height: 30px;
	margin: 0;
}
.footer > ul {
	display: flex;
	height: 30px;
	margin: 0;
}
.menu > ul > li{
	width: 150px;
	margin: 4px 10px 5px 0;
	height: 20px;
	list-style: none;
}
.footer > ul > li {
	width: 150px;
	margin: 4px 10px 5px 0;
	height: 20px;
	list-style: none;
}
